@model QuanLySinhVien.Models.GiaoVien

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Cập nhật thông tin Giáo viên</h1>

<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Edit">
            <div class="row">
                <div class="col-md-6">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <input type="hidden" asp-for="Magv" />
                    <div class="form-group">
                        <label asp-for="Hotengv" class="control-label"></label>
                        <input asp-for="Hotengv" class="form-control" />
                        <span asp-validation-for="Hotengv" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Dob" class="control-label"></label>
                        <input asp-for="Dob" class="form-control" />
                        <span asp-validation-for="Dob" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Gioitinh" class="control-label"></label>
                        <input asp-for="Gioitinh" class="form-control" />
                        <span asp-validation-for="Gioitinh" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Diachi" class="control-label"></label>
                        <input asp-for="Diachi" class="form-control" />
                        <span asp-validation-for="Diachi" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tel" class="control-label"></label>
                        <input asp-for="Tel" class="form-control" />
                        <span asp-validation-for="Tel" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Mobile" class="control-label"></label>
                        <input asp-for="Mobile" class="form-control" />
                        <span asp-validation-for="Mobile" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Emaildct" class="control-label"></label>
                        <input asp-for="Emaildct" class="form-control" />
                        <span asp-validation-for="Emaildct" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Save" class="btn btn-primary" style="width:150px;margin-top:15px;"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label asp-for="Madv" class="control-label"></label>
                        <input asp-for="Madv" class="form-control" />
                        <span asp-validation-for="Madv" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Hocvi" class="control-label"></label>
                        <input asp-for="Hocvi" class="form-control" />
                        <span asp-validation-for="Hocvi" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Chucdanh" class="control-label"></label>
                        <input asp-for="Chucdanh" class="form-control" />
                        <span asp-validation-for="Chucdanh" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Chucvu" class="control-label"></label>
                        <input asp-for="Chucvu" class="form-control" />
                        <span asp-validation-for="Chucvu" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Password" class="control-label"></label>
                        <input asp-for="Password" class="form-control" />
                        <span asp-validation-for="Password" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Website" class="control-label"></label>
                        <input asp-for="Website" class="form-control" />
                        <span asp-validation-for="Website" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Tenviet" class="control-label"></label>
                        <input asp-for="Tenviet" class="form-control" />
                        <span asp-validation-for="Tenviet" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Status" class="control-label"></label>
                        <input asp-for="Status" class="form-control" />
                        <span asp-validation-for="Status" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Accriht" class="control-label"></label>
                        <input asp-for="Accriht" class="form-control" />
                        <span asp-validation-for="Accriht" class="text-danger"></span>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index" class="a_as_btn" style="background-color: #bac0ca; width: 150px;">Back to list</a>  
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
